﻿@model byte[]
@{
    ViewData["Title"] = "ShowImageById";
}

<h2>ShowImageById</h2>

<div>
    <h4>Categories Picture</h4>
    <hr />
    
    <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(Model)}")" />
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>