﻿@{
    var controllerName = this.ViewContext.ActionDescriptor.RouteValues.FirstOrDefault(u => u.Key == "controller").Value;
    var actionName = this.ViewContext.ActionDescriptor.RouteValues.FirstOrDefault(u => u.Key == "action").Value;
    string str = controllerName == "Categories" & actionName == "Edit"? "You can’t edit categories!" : "";
}

<footer>
    <p>
        &copy; 2018 - Task3
        <br/>
        @str
    </p>
</footer>
