﻿@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Products</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Products.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products.QuantityPerUnit)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.QuantityPerUnit)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products.UnitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.UnitPrice)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products.UnitsInStock)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.UnitsInStock)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products.UnitsOnOrder)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.UnitsOnOrder)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products.ReorderLevel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.ReorderLevel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products.Discontinued)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.Discontinued)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products.Category)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.Category.CategoryName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Products.Supplier)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Products.Supplier.CompanyName)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Products.ProductId" />
        <input type="submit" value="Delete" class="btn btn-default" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
