﻿@using Task3.Helpers
@model IEnumerable<DalForTasks.Models.Categories>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="CreateCategory">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CategoryName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Picture)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>

                <a asp-action="ShowImageById" asp-route-id="@item.CategoryId">
                    <img src="@($"data:image/jpeg;base64,{Convert.ToBase64String(item.Picture)}")" />
                    <p>Show image simple tag</p>
                </a>
                <br />
                <a northwind-id="@item.CategoryId">Show image TagHelper</a>
                @Html.NorthwindImageLink(item.CategoryId, "Show image HTMLHelper");
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.CategoryId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.CategoryId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.CategoryId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
