﻿@model IEnumerable<DalForTasks.Models.Categories>

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<table class="table">
    <tr>
        <td>Id</td>
        <td>Name</td>
        <td>Description</td>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.CategoryId</td>
            <td>@item.CategoryName</td>
            <td>@item.Description</td>
        </tr>
    }
</table>
