﻿@page
@model indexCategoriesModel
@{
    ViewData["Title"] = "indexCategories";
}

<div>
    <h2>All Categories</h2>
    <ul id="categories" />
</div>
<div>
    <h2>Search by ID</h2>
    <input type="text" id="categoryId" size="5" />
    <input type="button" value="Search" onclick="find();" />
    <p id="category" />
</div>

<script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-2.0.3.min.js"></script>
<script>
    var uri = 'api';

    $(document).ready(function () {
        $.getJSON(uri)
            .done(function (data) {
                $.each(data, function (key, item) {
                    $('<li>', { text: formatItem(item) }).appendTo($('#categories'));
                });
            });
    });

    function formatItem(item) {
        return item.categoryId + ' ' + item.categoryName + ': ' + item.description;
    }

    function find() {
        var id = $('#categoryId').val();
        $.getJSON(uri + '/' + id)
            .done(function (data) {
                $('#category').text(formatItem(data));
            })
            .fail(function (jqXHR, textStatus, err) {
                $('#category').text('Error: ' + err);
            });
    }
</script>

